
body{background-color: darkgray;}


h1{text-align: center;
font-size: 50px;}

.dropdown{
    text-align: center;
}

.container_input {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 50px;
}

.card_country{
    display: inline-flex;
   min-width: 300px;
   text-align: left;
   font-size: 25px;
}

.people_list{
    font-size: 25px;
}